<div ui-view="nav"> </div>

<section id="home" class="text-center">
    <div class="container">
        <div class="row text-center pad-top" >
            <div class="col-md-12 pad-top-more">
                <a href="/projects" class="btn btn-lg pad-top">
                    <i class="fa fa-bomb fa-5x" ></i>
                </a>
                <h3>Welcome to Oak Creek Graphics!</h3>
                <p class="col-md-8 col-md-offset-2">
                Oak Creek Graphics is a collaboration of projects focusing on Computer Graphics, Artificial Intelligence, and Parallel Computing.
                </p>
            </div>
        </div>
    </div>
</section>

<div ui-view="footer"> </div>
