<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Free Responsive Template Using Bootstrap : Revas  </title>
    <!-- BOOTSTRAP CORE STYLE CSS -->
    <link href="assets/stylesheets/bootstrap.css" rel="stylesheet" />
    <!-- FONT AWESOME STYLE CSS -->
    <link href="assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <!-- CUSTOM STYLE CSS -->
    <link href="assets/stylesheets/style.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

</head>
<body data-spy="scroll" data-target=".navbar-fixed-top">
     <!--NAVBAR SECTION-->
    <div class="navbar navbar-inverse navbar-fixed-top scrollclass" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">YOUR LOGO</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#home">HOME</a></li>

                    <li><a href="#portfolio">PORTFOLIO</a></li>
                     <li><a href="#about">ABOUT</a></li>
                     <li><a href="#webgl">WEBGL</a></li>
                     <li><a href="#contact">CONTACT</a></li>
                </ul>
            </div>

        </div>
    </div>
   <!--END NAVBAR SECTION-->
        <!--HOME SECTION-->
       <section id="home" class="text-center">
            <div class="container">
           <div class="row text-center pad-top" >
            <div class="col-md-12 pad-top-more">
                <h1>Ready to Launch  </h1>
                <a href="#" class="btn btn-lg pad-top">
                    <i class="fa fa-bomb fa-5x" ></i>
                    </a>
                <h3>Lorem ipsum dolor sit amet </h3>
                <p class="col-md-8 col-md-offset-2">
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>

            </div>

               </div>
        </div>
       </section>
    <!--END SECTION-->
    <!--PORTFOLIO SECTION-->
    <section id="portfolio"  >
            <div class="container">
                    <div class="row text-center" >
               <div class="col-md-12">
                    <h1>OUR PORTFOLIO </h1>
               </div>
                     </div>
           <div class="row text-center pad-top" >
            <div class="col-md-4 col-sm-4 col-xs-12">
                 <a href="#portfolioBig1"  data-toggle="modal">
                <img src="assets/images/1.jpg" class="img-responsive " alt="" />
                     </a>
            </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#portfolioBig2"  data-toggle="modal">
                <img src="assets/images2.jpg" class="img-responsive " alt="" />
                                             </a>
            </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#portfolioBig3"  data-toggle="modal">
                <img src="assets/images/3.jpg" class="img-responsive " alt="" />
                                             </a>
            </div>
               </div>
                 <div class="row text-center pad-top" >
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="#portfolioBig4"  data-toggle="modal">
                <img src="assets/images/4.jpg" class="img-responsive " alt="" />
                                         </a>
            </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#portfolioBig5"  data-toggle="modal">
                <img src="assets/images/5.jpg" class="img-responsive " alt="" />
                                             </a>
            </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <a href="#portfolioBig6"  data-toggle="modal">
                <img src="assets/images/6.jpg" class="img-responsive " alt="" />
                                             </a>
            </div>
               </div>
                <div class="pad-top"></div>
                <!--PORFOLIO POPUPS -->
                <div class="modal fade" id="portfolioBig1" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-content" >

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="modal-body" >

                            <span class="fa fa-scissors fa-3x pull-right"  data-dismiss="modal">CLOSE</span>
                                <hr />
                            <h1>YOUR PROJECT TITLE</h1>
                            <br />
                            <img src="assets/images/1.jpg" class="img-responsive " alt="" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div class="modal fade" id="portfolioBig2" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-content" >

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="modal-body" >

                            <span class="fa fa-scissors fa-3x pull-right"  data-dismiss="modal">CLOSE</span>
                                <hr />
                            <h1>YOUR PROJECT TITLE</h1>
                            <br />
                            <img src="assets/images/2.jpg" class="img-responsive " alt="" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div class="modal fade" id="portfolioBig3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" >

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="modal-body" >

                            <span class="fa fa-scissors fa-3x pull-right"  data-dismiss="modal">CLOSE</span>
                                <hr />
                            <h1>YOUR PROJECT TITLE</h1>
                            <br />
                            <img src="assets/images/3.jpg" class="img-responsive " alt="" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div class="modal fade" id="portfolioBig4" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-content" >

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="modal-body" >

                            <span class="fa fa-scissors fa-3x pull-right"  data-dismiss="modal">CLOSE</span>
                                <hr />
                            <h1>YOUR PROJECT TITLE</h1>
                            <br />
                            <img src="assets/images/4.jpg" class="img-responsive " alt="" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div class="modal fade" id="portfolioBig5" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-content" >

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="modal-body" >

                            <span class="fa fa-scissors fa-3x pull-right"  data-dismiss="modal">CLOSE</span>
                                <hr />
                            <h1>YOUR PROJECT TITLE</h1>
                            <br />
                            <img src="assets/images/5.jpg" class="img-responsive " alt="" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div class="modal fade" id="portfolioBig6" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-content" >

            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="modal-body" >

                            <span class="fa fa-scissors fa-3x pull-right"  data-dismiss="modal">CLOSE</span>
                                <hr />
                            <h1>YOUR PROJECT TITLE</h1>
                            <br />
                            <img src="assets/images/6.jpg" class="img-responsive " alt="" />

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
        </section>
    <!--END PORTFOLIO SECTION-->

        <!--FOOTER SECTION-->
    <div id="footer">
        2014 www.yourdomain.com | All Right Reserved  | Design by <a href="http://www.binarytheme.com/" target="_blank" >www.binarytheme.com</a>

    </div>
     <!--FOOTER SECTION-->
    <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY  -->
    <script src="assets/plugins/jquery-1.10.2.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="assets/plugins/bootstrap.js"></script>
     <!-- EASING SCROLL SCRIPTS PLUGIN  -->
    <script src="assets/plugins/jquery.easing.min.js"></script>
     <!-- CUSTOM SCRIPTS   -->
    <script src="assets/js/custom.js"></script>
</body>
</html>
